DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=app_db
DATABASE_CREDS=app_user:app_password
MAX_POOL_CONNECTIONS=5

HOSTNAME=localhost
PORT=3000
SECRET=MYSUPERSECRETESECRET

KC_CLIENT_ID=api-client
KC_CLIENT_SECRET=MYKCCLIENTSECRET
KC_SERVER_ADDR=http://localhost:8080
KC_LOGIN_PATH=/realms/api-template/protocol/openid-connect/token